@import './variables.scss';
@import './mixins.scss';

*{
    font-family: sans-serif;
}

html,body{
    box-sizing: border-box;
    margin: 0;
    @include padding(0);
}

.content{
    display: flex;
    justify-content: space-between;
    background: $gray;
}